requests>=2.31.0
swh.model>=6.4.0
rich>=13.7.0
cryptography>=43.0.1
spdx-tools>=0.8.2
semantic-version>=2.10.0
typer>=0.9.0
fastapi>=0.109.0
uvicorn>=0.27.0
packageurl-python>=0.11.2
python-multipart>=0.0.12
pyshacl>=0.25.0
rdflib>=7.0.0
tomli>=2.0.0; python_version < "3.11"